language: php

php:
  - 7.2

install:
  - travis_retry composer update --no-interaction --prefer-source

script:
  - vendor/bin/phpunit

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
